<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Parcial Proyecto 2017 - {{ page }}</title>
    <link rel="stylesheet" href="Public/main.css">
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
